above operation only to add the somevalr

In [3]:
import pandas as pd
from faker import Faker

# Initialize faker
fake = Faker()

# Generate the data
data = []
for _ in range(200):
    name = fake.name()
    dob = fake.date_of_birth(minimum_age=18, maximum_age=80)
    age = pd.Timestamp('now').year - dob.year
    data.append({"Name": name, "Age": age, "Date of Birth": dob.strftime("%Y-%m-%d")})

# Create DataFrame
df = pd.DataFrame(data)

# Show top 10 rows
df.to_csv("people_data.csv", index=False)

to create a ramdom data

In [16]:
df = pd.read_csv("people_data.csv")
print(df.columns)
print(df["Name"])

df2 = pd.DataFrame({
    "Name": ["Ajay", "oggy", "nobita"],
    "Age": [25, 30, 35],
    "Date of Birth": ["1998-01-01", "1993-02-02", "1988-03-03"]
})

all = pd.concat([df, df2], ignore_index=True)
print(all)


merge = pd.DataFrame({
    "Name": ["Ajay", "oggy", "nobita"],
    "Salary": [50000, 60000, 70000]
})

final = pd.merge(all,merge)

final.to_csv("new.csv", index=False)

Index(['Name', 'Age', 'Date of Birth', 'Salary'], dtype='object')
0      Ajay
1      oggy
2    nobita
Name: Name, dtype: object
     Name  Age Date of Birth   Salary
0    Ajay   25    1998-01-01  50000.0
1    oggy   30    1993-02-02  60000.0
2  nobita   35    1988-03-03  70000.0
3    Ajay   25    1998-01-01      NaN
4    oggy   30    1993-02-02      NaN
5  nobita   35    1988-03-03      NaN